<h1>Wildcard</h1>
<hr />

<div class='row'>
  <div class='large-6 columns'>
    <%= form_tag search_path, method: :get, data: {remote: true} do %>
      <%= hidden_field_tag :authorized, true %>
      <div class='row'>
        <div class='large-8 columns'>
          <h4>
            Authorized User
          </h4>
        </div>
        <div class='large-4 columns'>
          <%= submit_tag 'Search', class: 'tiny button radius' %>
        </div>
      </div>

      <%= text_field_tag :ids, params[:ids], placeholder: 'Name', class: 'authorized-name' %>
    <% end %>

    <ul class='ajax-container-auth-true'><ul>
  </div>

  <div class='large-6 columns'>
    <%= form_tag search_path, method: :get, data: {remote: true} do %>
      <%= hidden_field_tag :authorized, false %>
      <div class='row'>
        <div class='large-8 columns'>
          <h4>
            Unauthorized User
          </h4>
        </div>
        <div class='large-4 columns'>
          <%= submit_tag 'Search', class: 'tiny button radius' %>
        </div>
      </div>

      <%= text_field_tag :ids, params[:ids], placeholder: 'Name', class: 'unauthorized-name' %>
    <% end %>

    <ul class='ajax-container-auth-false'><ul>
  </div>
</div>
